@import "../../base/fn";

.weui-text__black {
    color: @weuiTextColorTitle !important;
}

.weui-text__red {
    color: @weuiTextColorWarn !important;
}

.weui-text__green {
    color: @weuiTextColorGreen !important;
}

.weui-text__gray {
    color: @weuiTextColorGray !important;
}

.weui-text__yellow {
    color: @weuiTextColorYellow !important;
}