<div class="page">
    <div class="page__hd">
        <h1 class="page__title">Text</h1>
        <p class="page__desc">文本</p>
    </div>
    <div class="page__bd" style="padding: 15px;">
        <p class="weui-text__black">黑色</p>
        <p class="weui-text__red">红色</p>
        <p class="weui-text__green">绿色</p>
        <p class="weui-text__gray">灰色</p>
        <p class="weui-text__yellow">黄色</p>
    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="./images/icon_footer_link.png" /></a>
    </div>
</div>