<div class="page">
    <div class="page__hd">
        <h1 class="page__title">Text</h1>
        <p class="page__desc">文本</p>
    </div>
    <div class="page__bd" style="padding: 15px;">
        <p class="weui-text__black">黑色文本 weui-text__black</p>
        <p class="weui-text__warn">警告/错误 weui-text__warn</p>
        <p class="weui-text__success">成功 weui-text__success</p>

    </div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="./images/icon_footer_link.png" /></a>
    </div>
</div>